[View in Colaboratory](https://colab.research.google.com/github/rushi0109/Hotstar/blob/master/hotstar_2.ipynb)

In [1]:
!wget https://he-s3.s3.amazonaws.com/media/hackathon/machine-learning-indiahacks-2017/5f828822-4--4-hotstar_dataset.zip
!unzip 5f828822-4--4-hotstar_dataset.zip

--2018-08-26 14:36:33--  https://he-s3.s3.amazonaws.com/media/hackathon/machine-learning-indiahacks-2017/5f828822-4--4-hotstar_dataset.zip
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.32.76
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.32.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51766669 (49M) [application/zip]
Saving to: ‘5f828822-4--4-hotstar_dataset.zip’

5f828822-4--4-hotst 100%[===================>]  49.37M  8.98MB/s    in 15s

2018-08-26 14:36:49 (3.29 MB/s) - ‘5f828822-4--4-hotstar_dataset.zip’ saved [51766669/51766669]

Archive:  5f828822-4--4-hotstar_dataset.zip
  inflating: sample_submission.csv
  inflating: test_data.json
  inflating: train_data.json

In [0]:
import numpy as np
import pandas as pd
import re
train_data = pd.read_json('train_data.json',orient='index')

In [0]:
train_data['g1'] = [re.sub(pattern='\:\d+',repl='',string=x) for x in train_data['genres']]
train_data['g1'] = train_data['g1'].apply(lambda x: x.split(','))
t1 = pd.Series(train_data['g1']).apply(frozenset).to_frame(name='t_genre')
genreSet = frozenset.union(*t1.t_genre)

In [0]:
def string_genres_time(genre, string):
 if genre in string:
   prbmStr = string[string.index(genre) :]
   #print(prbmStr)
   problemStr = prbmStr[prbmStr.index(':')+1:]
   #print(problemStr)
   #print(problemStr.index(','))
   if ',' in problemStr:
     return int(problemStr[0:problemStr.index(',')])
   else:
     return int(problemStr[0:])
 else:
   return 0

In [0]:
def string_dow_time(genre, string):
 if genre in string:
   prbmStr = string[string.index(genre) :]
   #print(prbmStr)
   problemStr = prbmStr[prbmStr.index(':')+1:]
   #print(problemStr)
   #print(problemStr.index(','))
   if ',' in problemStr:
     return int(problemStr[0:problemStr.index(',')])
   else:
     return int(problemStr[0:])
 else:
   return 0

In [0]:
def string_tod_time(genre, string):
	if genre in string:
		prbmStr = string[string.index(genre) :]
		#print(prbmStr)
		problemStr = prbmStr[prbmStr.index(':')+1:]
		#print(problemStr)
		#print(problemStr.index(','))
		if ',' in problemStr:
			return int(problemStr[0:problemStr.index(',')])
		else:
			return int(problemStr[0:])
	else:
		todData = genre[1:]
		if todData in string:
			if string.index(todData) == 0:
				prbmStr = string[string.index(todData) :]
				#print(prbmStr)
				problemStr = prbmStr[prbmStr.index(':')+1:]
				#print(problemStr)
				#print(problemStr.index(','))
				if ',' in problemStr:
					return int(problemStr[0:problemStr.index(',')])
				else:
					return int(problemStr[0:])
			else:
				return 0
		else:
			return 0

In [0]:
for i in genreSet:
  train_data[i] = train_data["genres"].apply(lambda x : string_genres_time(i, x))

In [0]:
for i in np.arange(1,8):
  str_i = str(i) + ':'
  train_data[i] = train_data["dow"].apply(lambda x : string_dow_time(str_i, x))

In [0]:
for i in np.arange(0,24):
  str_i = ','+str(i)+':'
  colName = 'tod_'+str(i)
  train_data[colName] = train_data["tod"].apply(lambda x : string_genres_time(str_i, x))

In [0]:
train_data.drop(['g1','tod','dow','genres'],inplace=True,axis=1)

In [0]:
train_data.drop('cities',inplace=True,axis=1)

In [0]:
def get_int_value(param):
  return int(param[1:])

In [0]:
def getTimeList(titeString):
  return np.array([get_int_value(item) for item in re.findall('\:\d+',titeString)])

In [0]:
train_data['g2'] = [getTimeList(x) for x in train_data['titles']]
#train_data['g2'] = train_data['g2'].apply(lambda x: x.split(','))
#t1 = pd.Series(train_data['g2']).apply(frozenset).to_frame(name='t_titles')
#titlesSet = frozenset.union(*t1.t_titles)

In [69]:
train_data['title_mean'] = train_data['g2'].apply(np.mean)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [77]:
train_data['title_median'] = train_data['g2'].apply(np.median)
train_data['title_sum'] = train_data['g2'].apply(np.sum)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [0]:
train_data['title_count'] = train_data['g2'].apply(len)

In [0]:
train_data.drop('g2',inplace=True,axis=1)

In [0]:
train_data.drop('titles',axis=1,inplace=True)

In [83]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, train-1 to train-99999
Data columns (total 71 columns):
segment         200000 non-null object
Family          200000 non-null int64
Tennis          200000 non-null int64
Kids            200000 non-null int64
Mythology       200000 non-null int64
TalkShow        200000 non-null int64
FormulaE        200000 non-null int64
Hockey          200000 non-null int64
Action          200000 non-null int64
Crime           200000 non-null int64
Football        200000 non-null int64
Boxing          200000 non-null int64
Athletics       200000 non-null int64
Science         200000 non-null int64
NA              200000 non-null int64
Awards          200000 non-null int64
Wildlife        200000 non-null int64
Romance         200000 non-null int64
Thriller        200000 non-null int64
Horror          200000 non-null int64
Badminton       200000 non-null int64
Sport           200000 non-null int64
Documentary     200000 non-null int64
Cricket         200000 non-null int64
Travel          200000 non-null int64
Volleyball      200000 non-null int64
Teen            200000 non-null int64
Reality         200000 non-null int64
LiveTV          200000 non-null int64
Swimming        200000 non-null int64
Comedy          200000 non-null int64
Table Tennis    200000 non-null int64
Kabaddi         200000 non-null int64
Drama           200000 non-null int64
Formula1        200000 non-null int64
IndiaVsSa       200000 non-null int64
1               200000 non-null int64
2               200000 non-null int64
3               200000 non-null int64
4               200000 non-null int64
5               200000 non-null int64
6               200000 non-null int64
7               200000 non-null int64
tod_0           200000 non-null int64
tod_1           200000 non-null int64
tod_2           200000 non-null int64
tod_3           200000 non-null int64
tod_4           200000 non-null int64
tod_5           200000 non-null int64
tod_6           200000 non-null int64
tod_7           200000 non-null int64
tod_8           200000 non-null int64
tod_9           200000 non-null int64
tod_10          200000 non-null int64
tod_11          200000 non-null int64
tod_12          200000 non-null int64
tod_13          200000 non-null int64
tod_14          200000 non-null int64
tod_15          200000 non-null int64
tod_16          200000 non-null int64
tod_17          200000 non-null int64
tod_18          200000 non-null int64
tod_19          200000 non-null int64
tod_20          200000 non-null int64
tod_21          200000 non-null int64
tod_22          200000 non-null int64
tod_23          200000 non-null int64
title_mean      199954 non-null float64
title_median    199954 non-null float64
title_sum       200000 non-null float64
title_count     200000 non-null int64
dtypes: float64(3), int64(67), object(1)
memory usage: 114.9+ MB

In [0]:
all_cols = list(train_data.columns)

In [0]:
all_cols.remove('title_count')
all_cols.remove('segment')

In [0]:
train_data[all_cols] = train_data[all_cols]/60

In [0]:
train_data[all_cols] = train_data[all_cols].fillna(0)

In [0]:
train_data[all_cols] = train_data[all_cols].astype(int)

In [0]:
train_data['segment'].replace('pos',1,inplace=True)
train_data['segment'].replace('neg',0,inplace=True)

In [110]:
train_data.head().T

              train-1  train-10  train-100  train-1000  train-10000
segment             0         0          0           0            0
Family              0         0          0           0            0
Tennis              0         0          0           0            0
Kids                0         0          0           0            0
Mythology           0         0          0           0            0
TalkShow            0         0          0           0            0
FormulaE            0         0          0           0            0
Hockey              0         0          0           0            0
Action              0         0          0           0            0
Crime               0         0          0           0            0
Football            0         0          1           0            0
Boxing              0         0          0           0            0
Athletics           0         0          0           0            0
Science             0         0          0           0            0
NA                  0         0          0           0            0
Awards              0         0          0           0            0
Wildlife            0         0          0           0            0
Romance             0         0          0           0            0
Thriller            0         0          0           0            0
Horror              0         0          0           0            0
Badminton           0         0          0           0            0
Sport               0         0          0           0            0
Documentary         0         0          0           0            0
Cricket            22         4          0           2            0
Travel              0         0          0           0            0
Volleyball          0         0          0           0            0
Teen                0         0          0           0            0
Reality             1         0          0           0            0
LiveTV              0         0          0           0            0
Swimming            0         0          0           0            0
...               ...       ...        ...         ...          ...
6                   4         0          0           0            1
7                   4         0          0           0            0
tod_0               0         0          0           0            0
tod_1               0         0          0           0            0
tod_2               0         0          0           0            0
tod_3               0         0          0           0            0
tod_4               0         0          0           0            0
tod_5               0         0          0           0            0
tod_6               0         0          0           0            0
tod_7               0         0          0           0            0
tod_8               0         0          0           0            0
tod_9               0         0          0           0            0
tod_10              0         0          0           0            0
tod_11              0         0          0           0            0
tod_12              0         0          0           0            0
tod_13              0         0          0           0            0
tod_14              0         0          0           0            0
tod_15              0         0          0           0            0
tod_16              0         0          0           0            0
tod_17              2         0          0           0            0
tod_18              1         0          0           0            0
tod_19              3         1          0           0            0
tod_20              6         0          0           0            0
tod_21              4         0          0           0            0
tod_22              2         0          0           0            1
tod_23              1         0          0           0            0
title_mean          0         0          0           0            0
title_median        0         0          0           0            0
title_sum          24         4          1           2            2
title_count        60        70          2           8           11

[71 rows x 5 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [0]:
y_label = train_data.pop('segment')

In [0]:
X_train, X_test, y_train, y_test = train_test_split(train_data, y_label, test_size=0.3, random_state=9)

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV,StratifiedKFold
from sklearn.metrics import roc_auc_score,accuracy_score,confusion_matrix
seed = 9

In [117]:
kf = StratifiedKFold(n_splits=5,shuffle=True,random_state=seed)
pred_test_full =0
cv_score =[]
i=1
for train_index,test_index in kf.split(X_train,y_train):
    print('{} of KFold {}'.format(i,kf.n_splits))
    xtr,xvl = X_train.iloc[train_index],X_train.iloc[test_index]
    ytr,yvl = y_train.iloc[train_index],y_train.iloc[test_index]
    
    #model
    lr = LogisticRegression()
    lr.fit(xtr,ytr)
    score = roc_auc_score(yvl,lr.predict(xvl))
    print('ROC AUC score:',score)
    cv_score.append(score)   
    print('Test Accuracy: ',accuracy_score(yvl,lr.predict(xvl)))
    print('Train Accuracy: ',accuracy_score(ytr,lr.predict(xtr)))
    print('Confusion Matrix: ',confusion_matrix(yvl,lr.predict(xvl)))
    i+=1

1 of KFold 5
ROC AUC score: 0.50500699342885
Test Accuracy:  0.9228956108710403
Train Accuracy:  0.922552879936428
Confusion Matrix:  [[25817    43]
 [ 2116    25]]
2 of KFold 5
ROC AUC score: 0.5039746320175347
Test Accuracy:  0.9229642857142857
Train Accuracy:  0.9226964285714285
Confusion Matrix:  [[25823    36]
 [ 2121    20]]
3 of KFold 5
ROC AUC score: 0.5035492482053223
Test Accuracy:  0.9221785714285714
Train Accuracy:  0.9227410714285714
Confusion Matrix:  [[25801    58]
 [ 2121    20]]
4 of KFold 5
ROC AUC score: 0.5038794620754283
Test Accuracy:  0.9223928571428571
Train Accuracy:  0.9226607142857143
Confusion Matrix:  [[25806    53]
 [ 2120    21]]
5 of KFold 5
ROC AUC score: 0.5037270687585768
Test Accuracy:  0.9221400764313011
Train Accuracy:  0.9225810483834965
Confusion Matrix:  [[25798    61]
 [ 2119    21]]

In [0]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler()
X_resampled, y_resampled = ros.fit_sample(X_train, y_train)

In [121]:
X_train.shape

(140000, 70)

In [122]:
kf = StratifiedKFold(n_splits=5,shuffle=True,random_state=seed)
pred_test_full =0
cv_score =[]
i=1
for train_index,test_index in kf.split(X_resampled,y_resampled):
    print('{} of KFold {}'.format(i,kf.n_splits))
    xtr,xvl = X_resampled[train_index],X_resampled[test_index]
    ytr,yvl = y_resampled[train_index],y_resampled[test_index]
    
    #model
    lr = LogisticRegression()
    lr.fit(xtr,ytr)
    score = roc_auc_score(yvl,lr.predict(xvl))
    print('ROC AUC score:',score)
    cv_score.append(score)   
    print('Test Accuracy: ',accuracy_score(yvl,lr.predict(xvl)))
    print('Train Accuracy: ',accuracy_score(ytr,lr.predict(xtr)))
    print('Confusion Matrix: ',confusion_matrix(yvl,lr.predict(xvl)))
    print('Validation Accuracy ',accuracy_score(y_test,lr.predict(X_test)))
    print('Validation Confusion Matrix: ',confusion_matrix(y_test,lr.predict(X_test)))
    print('------------------------------------------------------------------')
    i+=1

1 of KFold 5
ROC AUC score: 0.6841840680587781
Test Accuracy:  0.6841840680587781
Train Accuracy:  0.6815277079546773
Confusion Matrix:  [[19763  6097]
 [10237 15623]]
Validation Accuracy  0.75055
Validation Confusion Matrix:  [[42311 13138]
 [ 1829  2722]]
------------------------------------------------------------------
2 of KFold 5
ROC AUC score: 0.6844812251053792
Test Accuracy:  0.6844812251053791
Train Accuracy:  0.6815839593182323
Confusion Matrix:  [[19802  6057]
 [10261 15598]]
Validation Accuracy  0.7509833333333333
Validation Confusion Matrix:  [[42332 13117]
 [ 1824  2727]]
------------------------------------------------------------------
3 of KFold 5
ROC AUC score: 0.6816388878146874
Test Accuracy:  0.6816388878146873
Train Accuracy:  0.682309038351847
Confusion Matrix:  [[19688  6171]
 [10294 15565]]
Validation Accuracy  0.7518833333333333
Validation Confusion Matrix:  [[42393 13056]
 [ 1831  2720]]
------------------------------------------------------------------
4 of KFold 5
ROC AUC score: 0.6803820720058781
Test Accuracy:  0.6803820720058781
Train Accuracy:  0.6830921237081509
Confusion Matrix:  [[19625  6234]
 [10296 15563]]
Validation Accuracy  0.7519833333333333
Validation Confusion Matrix:  [[42398 13051]
 [ 1830  2721]]
------------------------------------------------------------------
5 of KFold 5
ROC AUC score: 0.6798793456823543
Test Accuracy:  0.6798793456823543
Train Accuracy:  0.6827199164708954
Confusion Matrix:  [[19694  6165]
 [10391 15468]]
Validation Accuracy  0.7515333333333334
Validation Confusion Matrix:  [[42373 13076]
 [ 1832  2719]]
------------------------------------------------------------------

Random Forest

In [43]:
#for item in mylismap(get_int_value,re.findall('\:\d+',reString))
[get_int_value(item) for item in re.findall('\:\d+',reString)]

[103, 61593]

In [0]:
intString = ':103'

In [38]:
get_int_value(intString)

103